<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button routerLink="/tabs/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let recipe of recipes">
    <ion-item-sliding>
      <ion-item>
        <app-recipe-element [recipe]="recipe"></app-recipe-element>
      </ion-item>
      <ion-item-options>
        <ion-item-option>
          <ion-button (click)="edit(recipe)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-item-option>
        <ion-item-option  color="danger">
          <ion-button color="danger" (click)="delete(recipe.id,recipe)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
