<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        {{recipe.title}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{recipe.category}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{recipe.ingredients}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{recipe.instructions}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>User: {{recipe.authorId}}</ion-col>
      <ion-col>Posted on: {{recipe.createdAt.toDateString()}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

