<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe.title}}</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="edit()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="delete()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="this.auth.getUserId()===recipe.authorId">
        Created by ME: {{this.auth.getUsername()}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Category: {{recipe.category}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ingredients: {{recipe.ingredients}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Instructions: {{recipe.instructions}}
      </ion-col>
    </ion-row>
    <ion-row>
     <!-- <ion-col *ngIf="recipe.authorId === uid;else notAuthor">Author: {{username}}</ion-col>
      <ng-template #notAuthor>User: {{recipe.authorId}}</ng-template>-->
      <ion-col>Created on: {{recipe.createdAt.toDateString()}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

